<!-- app.component.html -->
<div *ngIf="!isLoggedIn" class="h-screen">
  <router-outlet></router-outlet>
</div>

<div *ngIf="isLoggedIn" class="flex flex-col h-screen">
  <!-- Header -->
  <app-header (toggleSidebarEvent)="toggleSidebar()"></app-header>
  
  <div class="flex flex-1">
    <!-- Sidebar -->
    <app-sidebar [isOpen]="sidebarOpen" (toggleSidebar)="onSidebarToggle($event)"></app-sidebar>




    <div class="flex-1 bg-white-100 ">
      <router-outlet></router-outlet>
    </div>

  </div>


 
  
  
  <!-- Footer with dynamic margin -->
  <div>
    <app-footer></app-footer>
  </div>
</div>